@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to School database</h1>
    <p>Made by <a href="https://github.com/blankagain">Akshay Kumar</a>.</p>
</div>
